.Person {
    width: 60%;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid lightgrey;
    box-shadow: 0 2px 3px grey;
    text-align: center;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}